body {
    background: #CCC;
}

#Header a:hover 
{
    color: #FFF;
}

#background-img {
    background: url('../images/romaintrystram-jungle-islands.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

#About {
    margin-top: -200px;
}

#About .fa {
    color: darkslateblue;
}

#About span { /*"About" title box*/
    padding: 10px 20px 10px 20px; /*top left bottom right*/
}

#About hr { /*horizontal row line styling*/
    border-width: 3px;
    margin-top: 6px;
}

#Skills span { /*"Skills" title box*/
    padding: 10px 20px 10px 20px; /*top left bottom right*/
}

#Skills hr { /*horizontal row line styling*/
    border-width: 3px;
    margin-top: 6px;
}

#Projects span { /*"Projects" title box*/
    padding: 10px 20px 10px 20px; /*top left bottom right*/
}

#Projects hr { /*horizontal row line styling*/
    border-width: 3px;
    margin-top: 6px;
}

#Projects .card {
    border-top: 03px solid rgb(167, 167, 167);
}

#Contact span {
    padding: 10px 20px 10px 20px; /*top left bottom right*/
}

#Contact hr {
    border-width: 3px;
    margin-top: 6px;
}